.card{
    display:block;
    margin: 17px ; 
    border: solid 3px #E5E5E5;
    text-decoration: none ;
    height: 400px;
    overflow: hidden;
    
}

.card img{
    height: 66%;
    width: 100%;
    
}
.card article{
    padding: 3px 10px 30px;

    
}

.card article span{
    display:block;
    font-family: Poppins;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #232323;
   
    
}
.temperament{
 
    font-family: Poppins;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    color: #232323;    
}
